@charset "UTF-8";
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  padding: 10px 0 12px;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.05));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.05));
  -webkit-box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.1);
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
}

.header__title {
  max-width: 298px;
  font-size: 22px;
  line-height: 28px;
  color: rgba(0, 0, 0, 0.8);
  margin-left: 16px;
}

.header__info {
  margin-left: auto;
}

.header__info-text {
  max-width: 238px;
  font-size: 14px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
  margin-bottom: 6px;
  text-align: right;
}

.header__info-link {
  display: block;
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
  color: rgba(0, 0, 0, 0.8);
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin-left: auto;
}

.header__user {
  margin-left: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer {
  background: #f6f6f6;
  padding: 32px 0 62px;
}

.footer-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 24px;
}

.footer-top__title {
  font-family: Open Sans;
  font-weight: 800;
  font-size: 18px;
  line-height: 25px;
  color: rgba(0, 0, 0, 0.8);
  margin-bottom: 10px;
}

.footer-top__items:first-child {
  width: 368px;
  margin-right: 21px;
}

.footer-top__items:nth-child(2) {
  width: 286px;
  margin-right: 45px;
}

.footer-top__items-list:nth-child(2) {
  font-family: Source Sans Pro;
  font-weight: 400;
  font-size: 14px;
  line-height: 138.27%;
}

.footer-top__items-list:nth-child(3) {
  width: 291px;
}

.footer-top__items-address {
  font-family: Open Sans;
  font-weight: 400;
  font-size: 14px;
  line-height: 149.8%;
  color: rgba(0, 0, 0, 0.8);
  margin-bottom: 10px;
}

.footer-top__items-email {
  font-family: Source Sans Pro;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: #03a06c;
}

.footer-top__items-item {
  margin-bottom: 10px;
}

.footer-top__items-link {
  font-family: Open Sans;
  font-weight: 600;
  font-size: 14px;
  line-height: 149.8%;
  color: rgba(0, 0, 0, 0.8);
}

.footer-top__items-text {
  padding-top: 30px;
  max-width: 363px;
  font-family: Source Sans Pro;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.8);
}

.footer-bottom {
  font-family: Source Sans Pro;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.8);
}

.footer-bottom__link {
  color: rgba(0, 0, 0, 0.8);
}

.info {
  padding: 40px 0;
}

.info__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.info__article {
  width: 773px;
  font-family: Source Sans Pro;
  -webkit-filter: drop-shadow(0px 1px 10px rgba(0, 0, 0, 0.1));
          filter: drop-shadow(0px 1px 10px rgba(0, 0, 0, 0.1));
  padding: 20px 99px 45px 25px;
  background: #ffffff;
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  margin-right: 20px;
}

.info__article-title, .info__box-title {
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
  color: #203538;
  margin-bottom: 20px;
}

.info__block {
  margin-bottom: 25px;
  font-size: 16px;
  line-height: 20px;
}

.info__block-title {
  font-weight: 600;
  color: rgba(32, 53, 56, 0.9);
  margin-bottom: 8px;
}

.info__block-description {
  font-weight: 400;
  color: rgba(32, 53, 56, 0.9);
}

.info__article-link {
  margin-top: 45px;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #03a06c;
}

.info__box {
  width: 377px;
  padding: 20px 13px 40px 25px;
  -webkit-filter: drop-shadow(0px 1px 10px rgba(0, 0, 0, 0.1));
          filter: drop-shadow(0px 1px 10px rgba(0, 0, 0, 0.1));
  background: #ffffff;
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  font-family: Source Sans Pro;
}

.info__box-title {
  max-width: 227px;
}

.info__list-item {
  font-weight: 600;
  font-size: 14.5px;
  line-height: 28px;
  color: rgba(32, 53, 56, 0.9);
  margin-bottom: 5px;
}

.info__box-link {
  margin-top: 15px;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #03a06c;
}

.content {
  padding: 30px 0 40px;
}

.content-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content-inner__info {
  width: 849px;
  font-family: Source Sans Pro;
}

.content-inner__tab {
  -webkit-filter: drop-shadow(0px 1px 10px rgba(0, 0, 0, 0.1));
          filter: drop-shadow(0px 1px 10px rgba(0, 0, 0, 0.1));
  background: #ffffff;
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.05);
  margin-bottom: 19px;
}

.content-inner__tab-info > select {
  width: 460px;
  background: #ffffff;
  border: 1.5px solid rgba(65, 65, 65, 0.3);
  border-radius: 8px;
  padding: 25px 30px 25px 25px;
}

.content-inner__tab-btn {
  width: 304px;
  border: 1px solid #03a06c;
  background-color: #fff;
  border-radius: 10px;
  padding: 25px 16px;
  cursor: pointer;
  font-family: Source Sans Pro;
  font-weight: 600;
  font-size: 19px;
  line-height: 24px;
  color: #03a06c;
}

.content-inner__info-title {
  font-weight: 900;
  font-size: 28px;
  line-height: 35px;
  color: #203538;
  margin-bottom: 30px;
}

.content-inner__gibdd {
  background: -webkit-gradient(linear, left top, right top, from(#d4fc79), to(#03a06c));
  background: linear-gradient(90deg, #d4fc79 0%, #03a06c 100%);
  border-radius: 8px;
}

.content-inner__gibdd-block {
  background-image: url("../img/gibdd/circle-bg.svg");
  background-repeat: no-repeat;
  background-position-x: left;
  background-position-y: top;
}

.content-inner__gibdd-box {
  background-image: url("../img/gibdd/iPhone_11.png");
  background-repeat: no-repeat;
  background-position-x: left;
  background-position-y: bottom;
}

.content-inner__gibdd-item {
  background-image: url("../img/gibdd/rubl.svg");
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: top;
}

.content-inner__content {
  width: 300px;
}

.content-inner__block {
  font-family: Source Sans Pro, sans-serif;
  background: #ffffff;
  -webkit-box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
  border: 1px solid #03a06c;
  border-radius: 2px;
  margin-bottom: 20px;
  padding: 12px 16px 41px 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content-inner__block > img {
  margin-bottom: auto;
  margin-right: 10px;
}

.content-inner__box-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  color: #203538;
  margin-bottom: 5px;
}

.content-inner__box-tex {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #596d7b;
}

.tabs {
  width: 100%;
}

.content-inner__tab-content {
  width: 209px;
}

.tabs > input[type="radio"] {
  display: none;
}

.tabs > div {
  /* скрыть контент по умолчанию */
  display: none;
  border: 1px solid #e0e0e0;
  padding: 10px 15px;
  font-size: 16px;
}

/* отобразить контент, связанный с вабранной радиокнопкой (input type="radio") */
#tab-btn-1:checked ~ #content-1,
#tab-btn-2:checked ~ #content-2,
#tab-btn-3:checked ~ #content-3,
#tab-btn-4:checked ~ #content-4 {
  display: block;
  width: 100%;
  padding: 30px 40px 40px 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  row-gap: 20px;
}

.tabs > label {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
  cursor: pointer;
  position: relative;
  top: 1px;
  font-family: Source Sans Pro;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: rgba(0, 0, 0, 0.7);
  background: #f6f6f6;
  border-radius: 0px;
  padding: 18px 0;
}

.tabs > label:not(:first-of-type) {
  border-left: none;
}

.tabs > input[type="radio"]:checked + label {
  background-color: #fff;
  border-bottom: 1px solid #fff;
  font-size: 20px;
  line-height: 150%;
  font-family: Source Sans Pro;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: #4d4d4d;
}

.content-inner__tab-info > input[type="text"] {
  width: 460px;
  background: #ffffff;
  border: 1.5px solid rgba(65, 65, 65, 0.3);
  border-radius: 8px;
  padding: 25px 16px;
}

.content-inner__tab-info > input[type="text"]::-webkit-input-placeholder {
  font-family: Source Sans Pro;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  color: rgba(0, 0, 0, 0.5);
}

.content-inner__tab-info > input[type="text"]:-ms-input-placeholder {
  font-family: Source Sans Pro;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  color: rgba(0, 0, 0, 0.5);
}

.content-inner__tab-info > input[type="text"]::-ms-input-placeholder {
  font-family: Source Sans Pro;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  color: rgba(0, 0, 0, 0.5);
}

.content-inner__tab-info > input[type="text"]::placeholder {
  font-family: Source Sans Pro;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  color: rgba(0, 0, 0, 0.5);
}

.content-inner__tab-info > input[type="date"] {
  width: 304px;
  background: #ffffff;
  border: 1.5px solid rgba(65, 65, 65, 0.3);
  border-radius: 8px;
  padding: 25px 16px;
}

.jq-selectbox__select {
  width: 460px;
  background: #ffffff;
  border: 1.5px solid rgba(65, 65, 65, 0.3);
  border-radius: 8px;
  padding: 25px 30px 25px 25px;
}

.jq-selectbox__select {
  font-family: Source Sans Pro;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  color: rgba(0, 0, 0, 0.7);
}

.jq-selectbox__dropdown {
  width: 460px;
  height: 380px;
  -webkit-box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  padding: 20px 0px 20px 18px;
}

.jq-selectbox li,
.jq-select-multiple li {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
  font-family: Source Sans Pro;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  color: #808080;
  margin-bottom: 30px;
}

.gibdd-inner {
  font-family: Source Sans Pro, sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 40px;
  padding-left: 259px;
  padding-bottom: 76px;
}

.gibdd-inner__info {
  margin-right: 13px;
}

.gibdd-inner__info-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  color: #ffffff;
  margin-bottom: 4px;
}

.gibdd-inner__info-span {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  margin-bottom: 30px;
}

.gibdd-inner__list {
  max-width: 245px;
  font-family: Source Sans Pro, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

.gibdd-inner__list-item {
  margin-bottom: 10px;
  padding-left: 32px;
  position: relative;
}

.gibdd-inner__list-item::before {
  position: absolute;
  content: url("../img/gibdd/type.png");
  left: 0;
  top: -5px;
}

.gibdd-inner__qr > img {
  margin: 0 auto 9px;
}

.gibdd-inner__qr-span {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #ffffff;
}
/*# sourceMappingURL=style.css.map */