//body {
//  font-family: "Open Sans", sans-serif;
//  font-family: "Source Sans Pro", sans-serif;
//}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.header {
  padding: 10px 0 12px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.05));
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.1);
  &__inner {
    display: flex;
    justify-content: space-between;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 400;
  }
  &__title {
    max-width: 298px;
    font-size: 22px;
    line-height: 28px;
    color: rgba(0, 0, 0, 0.8);
    margin-left: 16px;
  }
  &__info {
    margin-left: auto;
  }
  &__info-text {
    max-width: 238px;
    font-size: 14px;
    line-height: 18px;
    color: rgba(0, 0, 0, 0.3);
    margin-bottom: 6px;
    text-align: right;
  }
  &__info-link {
    display: block;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    color: rgba(0, 0, 0, 0.8);
    width: max-content;
    margin-left: auto;
  }
  &__user {
    margin-left: 30px;
    display: flex;
  }
}

.footer {
  background: #f6f6f6;
  padding: 32px 0 62px;
}
.footer-top {
  display: flex;
  margin-bottom: 24px;
  &__title {
    font-family: Open Sans;
    font-weight: 800;
    font-size: 18px;
    line-height: 25px;
    color: rgba(0, 0, 0, 0.8);
    margin-bottom: 10px;
  }
  &__items:first-child {
    width: 368px;
    margin-right: 21px;
  }
  &__items:nth-child(2) {
    width: 286px;
    margin-right: 45px;
  }
  &__items-list:nth-child(2) {
    font-family: Source Sans Pro;
    font-weight: 400;
    font-size: 14px;
    line-height: 138.27%;
  }
  &__items-list:nth-child(3) {
    width: 291px;
  }
  &__items-address {
    font-family: Open Sans;
    font-weight: 400;
    font-size: 14px;
    line-height: 149.8%;
    color: rgba(0, 0, 0, 0.8);
    margin-bottom: 10px;
  }
  &__items-email {
    font-family: Source Sans Pro;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    color: #03a06c;
  }
  &__items-item {
    margin-bottom: 10px;
  }
  &__items-link {
    font-family: Open Sans;
    font-weight: 600;
    font-size: 14px;
    line-height: 149.8%;
    color: rgba(0, 0, 0, 0.8);
  }
  &__items-text {
    padding-top: 30px;
    max-width: 363px;
    font-family: Source Sans Pro;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: rgba(0, 0, 0, 0.8);
  }
}
.footer-bottom {
  font-family: Source Sans Pro;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.8);
  &__link {
    color: rgba(0, 0, 0, 0.8);
  }
}
.info {
  padding: 40px 0;
  &__inner {
    display: flex;
  }
  &__article {
    width: 773px;
    font-family: Source Sans Pro;
    filter: drop-shadow(0px 1px 10px rgba(0, 0, 0, 0.1));
    padding: 20px 99px 45px 25px;
    background: #ffffff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    margin-right: 20px;
  }
  &__article-title,
  &__box-title {
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
    color: #203538;
    margin-bottom: 20px;
  }
  &__block {
    margin-bottom: 25px;
    font-size: 16px;
    line-height: 20px;
  }
  &__block-title {
    font-weight: 600;
    color: rgba(32, 53, 56, 0.9);
    margin-bottom: 8px;
  }
  &__block-description {
    font-weight: 400;
    color: rgba(32, 53, 56, 0.9);
  }
  &__article-link {
    margin-top: 45px;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #03a06c;
  }
  &__box {
    width: 377px;
    padding: 20px 13px 40px 25px;
    filter: drop-shadow(0px 1px 10px rgba(0, 0, 0, 0.1));
    background: #ffffff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    font-family: Source Sans Pro;
  }
  &__box-title {
    max-width: 227px;
  }
  &__list-item {
    font-weight: 600;
    font-size: 14.5px;
    line-height: 28px;
    color: rgba(32, 53, 56, 0.9);
    margin-bottom: 5px;
  }
  &__box-link {
    margin-top: 15px;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #03a06c;
  }
}
.content {
  padding: 30px 0 20px;
}
.content-inner {
  display: flex;
  justify-content: space-between;
  &__info {
    width: 849px;
    font-family: Source Sans Pro;
  }
  &__tab {
    filter: drop-shadow(0px 1px 10px rgba(0, 0, 0, 0.1));
    background: #ffffff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.05);
    margin-bottom: 19px;
  }
  &__tab-info > select {
    width: 460px;
    background: #ffffff;
    border: 1.5px solid rgba(65, 65, 65, 0.3);
    border-radius: 8px;
    padding: 25px 30px 25px 25px;
  }
  //&__tab-info{
  //  width: 100%;
  //
  //  background-color: #4d4d4d;
  //}
  &__tab-btn {
    width: 304px;
    border: 1px solid #03a06c;
    background-color: #fff;
    border-radius: 10px;
    padding: 25px 16px;
    cursor: pointer;
    font-family: Source Sans Pro;
    font-weight: 600;
    font-size: 19px;
    line-height: 24px;
    color: #03a06c;
  }
  &__info-title {
    font-weight: 900;
    font-size: 28px;
    line-height: 35px;
    color: #203538;
    margin-bottom: 30px;
  }
  &__gibdd {
    background: linear-gradient(90deg, #d4fc79 0%, #03a06c 100%);
    border-radius: 8px;
  }
  &__gibdd-block {
    background-image: url("../img/gibdd/circle-bg.svg");
    background-repeat: no-repeat;
    background-position-x: left;
    background-position-y: top;
  }
  &__gibdd-box {
    background-image: url("../img/gibdd/iPhone_11.png");
    background-repeat: no-repeat;
    background-position-x: left;
    background-position-y: bottom;
  }
  &__gibdd-item {
    background-image: url("../img/gibdd/rubl.svg");
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: top;
  }
  &__content {
    width: 300px;
  }
  &__block {
    font-family: Source Sans Pro, sans-serif;
    background: #ffffff;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #03a06c;
    border-radius: 2px;
    margin-bottom: 20px;
    padding: 12px 16px 41px 14px;
    display: flex;
  }
  &__block > img {
    margin-bottom: auto;
    margin-right: 10px;
  }
  &__box-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    color: #203538;
    margin-bottom: 5px;
  }
  &__box-tex {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #596d7b;
  }
}
.tabs {
  width: 100%;
}
.content-inner__tab-content {
  width: 209px;
}
.tabs > input[type="radio"] {
  display: none;
}

.tabs > div {
  /* скрыть контент по умолчанию */
  display: none;
  border: 1px solid #e0e0e0;
  padding: 10px 15px;
  font-size: 16px;
}

/* отобразить контент, связанный с вабранной радиокнопкой (input type="radio") */
#tab-btn-1:checked ~ #content-1,
#tab-btn-2:checked ~ #content-2,
#tab-btn-3:checked ~ #content-3,
#tab-btn-4:checked ~ #content-4 {
  display: block;
  width: 100%;
  padding: 30px 40px 40px 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 20px;
}

.tabs > label {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
  cursor: pointer;
  position: relative;
  top: 1px;
  font-family: Source Sans Pro;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: rgba(0, 0, 0, 0.7);
  background: #f6f6f6;
  border-radius: 0px;
  padding: 18px 0;
}

.tabs > label:not(:first-of-type) {
  border-left: none;
}

.tabs > input[type="radio"]:checked + label {
  background-color: #fff;
  border-bottom: 1px solid #fff;
  font-size: 20px;
  line-height: 150%;
  font-family: Source Sans Pro;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: #4d4d4d;
  //border-radius: 6px;
}
.content-inner__tab-info > input[type="text"] {
  width: 460px;
  background: #ffffff;
  border: 1.5px solid rgba(65, 65, 65, 0.3);
  border-radius: 8px;
  padding: 25px 16px;
}
.content-inner__tab-info > input[type="text"]::placeholder {
  font-family: Source Sans Pro;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  color: rgba(0, 0, 0, 0.5);
}
.content-inner__tab-info > input[type="date"] {
  width: 304px;
  background: #ffffff;
  border: 1.5px solid rgba(65, 65, 65, 0.3);
  border-radius: 8px;
  padding: 25px 16px;
}
.jq-selectbox__select {
  width: 460px;
  background: #ffffff;
  border: 1.5px solid rgba(65, 65, 65, 0.3);
  border-radius: 8px;
  padding: 25px 30px 25px 25px;
}
.jq-selectbox__select {
  font-family: Source Sans Pro;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  color: rgba(0, 0, 0, 0.7);
}
.jq-selectbox__dropdown {
  width: 460px;
  height: 380px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  padding: 20px 0px 20px 18px;
}
.jq-selectbox li,
.jq-select-multiple li {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
  font-family: Source Sans Pro;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  color: #808080;
  margin-bottom: 30px;
}

.gibdd-inner {
  font-family: Source Sans Pro, sans-serif;
  display: flex;
  padding-top: 40px;
  padding-left: 259px;
  padding-bottom: 76px;
  &__link {
    display: none;
  }
  &__info {
    margin-right: 13px;
  }
  &__info-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #ffffff;
    margin-bottom: 4px;
  }
  &__info-span {
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #ffffff;
    margin-bottom: 30px;
  }
  &__list {
    max-width: 245px;
    font-family: Source Sans Pro, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #ffffff;
  }
  &__list-item {
    margin-bottom: 10px;
    padding-left: 32px;
    position: relative;
    &::before {
      position: absolute;
      content: url("../img/gibdd/type.png");
      left: 0;
      top: -5px;
    }
  }
  &__qr > img {
    //margin-top: 5px;
    margin: 0 auto 9px;
  }
  &__qr-span {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #ffffff;
  }
}
.slide {
  background: #f7f7f7;
  padding: 20px 16px 55px 0;
  &__link {
    font-family: Source Sans Pro;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #03a06c;
    background-color: #d4fc79;
    display: block;
    margin-left: auto;
    width: fit-content;
    margin-bottom: 20px;
  }
}
.slider {
  display: flex;
  justify-content: space-between;
  //&__item {
  //}
  &__item {
    font-family: Source Sans Pro, sans-serif;
    width: 377px;
  }
  &__item-box {
    display: flex;
    justify-content: center;
    width: 360px;
    background: #dbdbdb;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    padding: 35px 0;
    margin-bottom: 15px;
  }
  &__info-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    color: #203538;
    margin-bottom: 12px;
  }
  &__info-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: rgba(32, 53, 56, 0.9);
  }
}
@media screen and (max-width: 360px) {
  .header {
    padding: 14px 0px;
    &__title {
      font-size: 16px;
      line-height: 20px;
      margin-left: 10px;
    }
    &__info {
      display: none;
    }
  }
  .content {
    padding: 20px 0px;
  }
  .content-inner {
    flex-direction: column;
    &__info {
      width: 280px;
    }
    &__content {
      width: 100%;
    }
    &__info-title {
      max-width: 278px;
      font-size: 18px;
      line-height: 23px;
      margin-bottom: 20px;
    }
    &__gibdd {
      width: 345px;
      border-radius: 0;
      transform: translateX(-15px);
      margin-bottom: 15px;
    }
    &__gibdd-box {
      background-image: none;
      background-image: url("../img/gibdd/iPhoneSmal.png");
    }
    &__gibdd-item {
      background-image: none;
      background-image: url("../img/gibdd/rublSmall.svg");
      background-repeat: no-repeat;
      background-position-x: right;
      background-position-y: bottom;
    }
    &__info-title {
      font-size: 18px;
      line-height: 21px;
      margin-bottom: 6px;
    }
    .tabs {
      display: flex;
      flex-direction: column;
    }
    &__tab-info {
      display: flex;
      flex-direction: column;
    }

    &__tabs {
      width: 330px;
    }
    &__tab-info > input[type="text"] {
      width: 280px;
      padding: 15px 10px;
      background: rgba(3, 160, 108, 0.07);
      border-radius: 6px;
    }
    &__tab-info > input[type="date"] {
      width: 280px;
      padding: 15px 10px;
      background: rgba(3, 160, 108, 0.07);
      border-radius: 6px;
    }
    .jq-selectbox__select {
      width: 280px;
      border: 1.5px solid rgba(65, 65, 65, 0.3);
      padding: 25px 30px 25px 25px;
      background: rgba(3, 160, 108, 0.07);
      border-radius: 6px;
    }
    .jq-selectbox__dropdown {
      background-color: #ececec;
      position: absolute !important;
      width: 304px !important;
      inset: auto;
    }
    .jq-selectbox__trigger {
      border: none;
    }
    .jq-selectbox__trigger-arrow {
      //border: none;
      //background-image: url('../img/arrow-up.svg');
      //border: 1px solid #939393;
      position: absolute;
    }
    &__tab-btn {
      width: 280px;
      font-size: 16px;
      line-height: 20px;
      padding: 14px 0;
    }
    .tabs > label {
      width: 280px;
      font-size: 16px;
      line-height: 150%;
      color: #4d4d4d;
      position: inherit;
    }

    .gibdd-inner {
      padding: 0;
      &__info {
        padding-top: 20px;
        padding-left: 27px;
        padding-bottom: 86px;
      }
      &__link {
        display: block;
        position: absolute;
        top: 50px;
        right: 27px;
      }
      &__info-title {
        font-size: 19px;
      }
      &__list {
        display: none;
      }
      &__qr {
        display: none;
      }
    }
  }
  .slide {
    padding: 10px 0px;
    &__link {
      margin-bottom: 10px;
      line-height: 150%;
      background-color: inherit;
    }
  }
  .slider {
    &__item-box img {
      display: none;
    }
    &__item-box {
      background: #000000;
      background-image: url("../img/box.png");
      background-position: bottom;
      background-position-y: center;
      width: 320px;
      height: 150px;
      padding: 0;
    }
    .slick-dots {
      display: flex;
      justify-content: center;
    }
    .slick-dots li button {
      /* position: relative; */
      /* display: inline-block; */
      width: 6px;
      height: 6px;
      padding: 0;
      cursor: auto;
      margin-right: 9px;
      border-radius: 50%;
      background: rgba(3, 160, 108, 0.3);
    }
    //.slick-dots button {
    // background-color: maroon;
    // font-size: 0;
    // width: 6px;
    // height: 6px;
    //
    // padding: 0;
    // border-radius: 50%;
    //}
    .slick-dots li.slick-active button {
      background: #03a06c;
    }
  }
  .info {
    padding: 30px 0;
    &__inner {
      flex-direction: column;
    }
    &__article {
      width: 320px;
      padding-left: 0px;
      width: 320px;
      background: inherit;
      border-radius: 0px;
      margin-right: 0px;
    }
    &__article-title {
      font-size: 20px;
      line-height: 25px;
      margin-bottom: 30px;
    }
    .info__block {
      margin-bottom: 25px;
      font-size: 16px;
      line-height: 20px;
      width: 320px;
    }
    &__box {
      width: 320px;
      padding-left: 0px;
      background: inherit;
      border-radius: 0px;
      margin-right: 0px;
    }
  }
  .footer {
    padding: 30px 0px 38px;
  }
  .footer-top {
    flex-direction: column;
    &__title {
      font-size: 20px;
    }
    &__items:first-child {
      width: 328px;
      margin-right: 21px;
    }
    &__items-text {
      font-size: 14px;
      line-height: 18px;
      color: rgba(0, 0, 0, 0.8);
    }
  }
  label.content-inner__tab-content {
    background-color: #fff;
    width: 327px !important;
    font-size: 20px !important;
    line-height: 150% !important;
    margin-bottom: 10px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    background-image: url("../img/tabs/1.svg");
    background-repeat: no-repeat;
    background-position-x: 20px;
    background-position-y: 20px;
  }
  label.content-inner__tab-content--second {
    background-image: url("../img/tabs/2.svg");
    background-repeat: no-repeat;
    background-position-x: 20px;
    background-position-y: 10px;
  }
  label.content-inner__tab-content--third {
    background-image: url("../img/tabs/3.svg");
    background-repeat: no-repeat;
    background-position-x: 20px;
    background-position-y: 10px;
  }
  label.content-inner__tab-content--four {
    background-image: url("../img/tabs/4.svg");
    background-repeat: no-repeat;
    background-position-x: 20px;
    background-position-y: 10px;
  }
}
